! special
*.foreground:  {{ light1 }}
*.background:  {{ dark0 }}
*.cursorColor: {{ light1 }}

! black
*.color0:      {{ dark0 }}
*.color8:      {{ gray_245 }}

! red
*.color1:      {{ neutral_red }}
*.color9:      {{ bright_red }}

! green
*.color2:      {{ neutral_green }}
*.color10:     {{ bright_green }}

! yellow
*.color3:      {{ neutral_yellow }}
*.color11:     {{ bright_yellow }}

! blue
*.color4:      {{ neutral_blue }}
*.color12:     {{ bright_blue }}

! magenta
*.color5:      {{ neutral_magenta }}
*.color13:     {{ bright_magenta }}

! cyan
*.color6:      {{ neutral_cyan }}
*.color14:     {{ bright_cyan }}

! white
*.color7:      {{ gray_243 }}
*.color15:     {{ light1 }}
