! -----------------------------------------------------------------------------
! File: sourcery-urxvt256.xresources
! Description: Colorscheme to inspire wizardry
! Author: roosta <mail@roosta.sh>
! Source: https://github.com/roosta/colors
! Last Modified: 2016-05-29
! -----------------------------------------------------------------------------

! faded_blue
URxvt.color24:  {{ faded_blue }}

! faded_cyan
URxvt.color66:  {{ faded_cyan }}

! faded_red
URxvt.color88:  {{ faded_red }}

! faded_magenta
URxvt.color96:  {{ faded_magenta }}

! faded_green
URxvt.color100: {{ faded_green }}

! bright_cyan
URxvt.color108: {{ bright_cyan }}

! bright_blue
URxvt.color109: {{ bright_blue }}

! bright_magenta
URxvt.color130: {{ bright_magenta }}

! faded_yellow
URxvt.color136: {{ faded_yellow }}

! bright_green
URxvt.color142: {{ bright_green }}

! bright_red
URxvt.color167: {{ bright_red }}

! bright_magenta
URxvt.color175: {{ bright_magenta }}

! bright_orange
URxvt.color208: {{ bright_orange }}

! bright_yellow
URxvt.color214: {{ bright_yellow }}

! fg1/light1/bg1
URxvt.color223: {{ light1 }}

! light0_soft
URxvt.color228: {{ light0_soft }}

! light0
URxvt.color229: {{ light0 }}

! light0_hard
URxvt.color230: {{ light0_hard }}

! dark0_hard
URxvt.color234: {{ dark0_hard }}

! dark0
URxvt.color235: {{ dark0 }}

! dark0_soft
URxvt.color236: {{ dark0_soft }}

! dark1
URxvt.color237: {{ dark1 }}

! dark2
URxvt.color239: {{ dark2 }}

! dark3
URxvt.color241: {{ dark3 }}

! dark4
URxvt.color243: {{ dark4 }}

! gray_244
URxvt.color244: {{ gray_244 }}

! gray_245
URxvt.color245: {{ gray_245 }}

! gray_246
URxvt.color246: {{ gray_246 }}

! light3
URxvt.color248: {{ light3 }}

! light2
URxvt.color250: {{ light2 }}
